<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>后台账号编辑</title>
<script type="text/javascript" src="{$psys_js}lib/jquery-1.11.1.js"></script>
<link type="text/css" rel="stylesheet" href="{$psys_css}table.css" />
</head>
<body>
<form class="add">
<table class="add-table" width="100%" border="0" cellpadding="0"  >
  <caption>
  <h3>编辑用户信息</h3>
  </caption>
  <tr>
    <td width="30%" align="right">用户名：</td>
    <td width="70%" align="left"><input type="text" name="username" value="{$info.username}"/></td>
  </tr>
  <tr>
    <td align="right">密&nbsp;&nbsp;码：</td>
    <td align="left"><input type="password" name="passwd"/>(密码为空则不修改原密码)</td>
  </tr>
  <tr>
    <td width="30%" align="right">姓&nbsp;&nbsp;名：</td>
    <td width="70%" align="left"><input type="text" name="realname" value="{$info.realname}"/></td>
  </tr>
  <tr>
    <td align="right">公&nbsp;&nbsp;司：</td>
    <td align="left"><input type="text" name="corp" value="{$info.corp}"/></td>
  </tr>
  <tr>
    <td width="30%" align="right">部&nbsp;&nbsp;门：</td>
    <td width="70%" align="left"><input type="text"  name="depart" value="{$info.depart}"/></td>
  </tr>
  <tr>
    <td width="30%" align="right">状&nbsp;&nbsp;态：</td>
    <td width="70%" align="left">
    	<input id="state" class="check-box" name="flag" type="radio" value="1" {if $info.flag eq 1}checked{/if}><label>正常</label>
        <input id="state" class="check-box" name="flag" type="radio" value="0" {if $info.flag eq 0}checked{/if}><label>停用</label>
    </td>
  </tr>
  <tr>
    <td colspan="2" align="center"><input type="hidden" name="id" value="{$info.id}"/><input type="button" id="btnSave" value="更  新"/></td>
  </tr>
</table>
</form>
{literal}
<script type="text/javascript">

$(function(){
	$('#btnSave').click(function(){
		var username = $.trim($("input[name='username']").val());
		var passwd = $.trim($("input[name='passwd']").val());
		var realname = $.trim($("input[name='realname']").val());
		var corp = $.trim($("input[name='corp']").val());
		var depart = $.trim($("input[name='depart']").val());
		var flag = $.trim($("input[name='flag']").val());
		var id = $.trim($("input[name='id']").val());
		if(username == '')
		{
			alert('请输入用户名');
			return;
		}
		
		//其他验证
		$.post(
			'/account/update',
			{'ispost':1,'ajax':1,'username':username,'passwd':passwd,'realname':realname,'corp':corp,'depart':depart,'flag':flag,'id':id},
			function(res){
				if(res.result == 'SUCCESS')
				{
					if(confirm('更新成功，点击确定添加新帐号，点击取消返回列表'))
					{
						$("input[name='username']").val();
						$("input[name='passwd']").val();
						$("input[name='realname']").val();
						$("input[name='corp']").val();
						$("input[name='depart']").val();
						$("input[name='flag']").val();
					}else{
						document.location.href = '/account/index';
					}
				}
				else
				{
					alert(res.msg+'('+res.msgcode+')');
				}
			},
			'json'
		);
		
	});
});
</script>
{/literal}

</body>
</html>