<table class="table table-bordered form-horizontal">
    <thead>
        <tr>
            <th>车号</th>
            <th>日期</th>
            <th>板块访问量</th>
            <th>板块停留时长</th>
            <th>电影</th>
            <th>点击次数</th>
            <th>停留时长</th>
            <th>电影返回</th>
            <th>iOS</th>
            <th>Android</th>
        </tr>
    </thead>
    <tbody>
            {{foreach $data as $key=>$val}}
            
                {{foreach $val as $key2=>$val2}}
                    <tr>
                        <td style="text-align:center;">{{$val2.number}}</td>
                        <td style="text-align:center;">{{$time}}</td>
                        <td style="text-align:center;">{{$val2.bkfwl}}</td>
                        <td style="text-align:center;">{{$val2.bktjsj}}</td>
                        <td style="text-align:center;">{{$val2.moviename}}</td>
                        <td style="text-align:center;">{{$val2.click}}</td>
                        <td style="text-align:center;">{{$val2.tlsj}}</td>
                        <td style="text-align:center;">{{$val2.back}}</td>
                        <td style="text-align:center;">{{$val2.ios}}</td>
                        <td style="text-align:center;">{{$val2.android}}</td>
                    </tr>
                {{/foreach}}
            {{/foreach}}
        
        <tr>
            <td colspan="10"></td>
        </tr>
        
    </tbody>
</table>