<!DOCTYPE html>
<html lang="en">
    <head>
        <title>火伴平台-浏览数据统计</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/style/en/default/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/style/en/default/css/bootstrap-responsive.min.css" />
        <link rel="stylesheet" href="/style/en/default/css/uniform.css" />
        <link rel="stylesheet" href="/style/en/default/css/select2.css" />
        <link rel="stylesheet" href="/style/en/default/css/matrix-style.css" />
        <link rel="stylesheet" href="/style/en/default/css/matrix-media.css" />
        <link rel="stylesheet" href="/style/en/default/css/font-awesome/css/font-awesome.css" />       

    </head>
    <body>
{{include file="header.html"}}

<!--sidebar-menu-->
{{include file="menu.html"}}
<!--close-left-menu-stats-sidebar-->

    <div id="content">
        <div id="content-header">
            <div id="breadcrumb">
                <a class="tip-bottom" href="/index/index" data-original-title="到首页"><i class="icon-home"></i> 首页</a>
                <a class="tip-bottom" href="javascript:;"><i class="icon-list-alt"></i> web端统计</a>
                <a class="current" href="javascript:;" data-original-title=""><i class="icon-bar-chart"></i> 流程统计</a>
            </div>
        </div>
        <div class="container-fluid">
            <p><b>说 明: </b></p>
            <p>以下数据是，从用户连接wifi到最终下载伙伴，每个环节的人数</p>  
            <hr>
            <div class="span" style="width:100px;margin-left: 0;">
                <select name="dateSearch">
                  <option value="manyday">日期选择</option>
                </select>
            </div>
            <form id="form">
                <span class="manyday dateSpan">
                    <input id="d5221" name="date" value="" class="Wdate" type="text" onFocus="var d5222=$dp.$('d5222');WdatePicker({onpicked:function(){d5222.focus();},firstDayOfWeek:1,maxDate:'%y-%M-%d'})"/>&nbsp;
                    <input id="d424" class="Wdate" name="hour" type="text" onfocus="WdatePicker({dateFmt:'HH',minDate:00,maxDate:23})"/>
                </span>
                <p></p>
        
                汽车类型: <label style="display:inline"><input type="radio" name="show" checked="checked" value="0" />全部</label> &nbsp;&nbsp;&nbsp;<label style="display:inline"><input type="radio" name="show" value="1" />公交</label> &nbsp;&nbsp;&nbsp;<label style="display:inline"><input type="radio" name="show" value="2" />长途汽车</label>
                <p></p>
               
                <p>
                    <span id="screening">
                   
                    </span>
                </p>
                    
                
                <br/>
                <p>
                   <span class="btn btn-info"><i class="icon icon-search am-icon-lg"></i>搜索</span> 
                </p>
            </form>
            <hr/>
            <div id="dateError" class="alert alert-error alert-block hide">
                <h4 class="alert-heading">提示</h4>
                查询时间设置错误，请重新设置。
            </div>
            
            
            <div id="container" style="min-width: 350px; width:98%; margin: 0 auto"></div>
          
            <div id="containerTable"></div>
            
            
            <a id="loading" href="#myModal" data-toggle="modal" class="hide"></a> 
            <div id="myModal" class="modal hide">
              <div class="modal-body">
                <p style="text-align:center;"><img src="/style/en/default/img/loading.gif" /></p>
                <p style="text-align:center;">加载中...</p>
                <a id="loading_c" data-dismiss="modal" class="hide"></a>
              </div>
            </div>
        </div>
    </div>
    
<!--Footer-part-->
<div class="row-fluid">
  <div id="footer" class="span12"> 2015 &copy; Rorkhippo v1.0 beta </div>
</div><!--end-Footer-part--> 
    <script src="/style/en/default/js/jquery.min.js"></script> 
    <script src="/style/en/default/js/jquery.ui.custom.js"></script> 
    <script src="/style/en/default/js/bootstrap.min.js"></script> 
    <script src="/style/en/default/js/jquery.uniform.js"></script> 
    <script src="/style/en/default/js/select2.min.js"></script> 
    <script src="/style/en/default/js/jquery.dataTables.min.js"></script> 
    <script src="/style/en/default/js/DatePicker/datePicker.js"></script>
    <script src="/style/en/default/js/matrix.js"></script> 
    <script src="/style/en/default/js/matrix.tables.js"></script>
    <script src="/style/en/default/js/highcharts.js"></script>
    <script src="/style/en/default/js/exporting.js"></script>
    <script src="/style/en/default/js/export-excel.js"></script>

    <script src="/style/en/default/js/function.js"></script>
    <script src="/style/en/default/js/icheck.min.js"></script>
    

    
    <script type="text/javascript"> 
        $(function(){
            var data = {};
                data.bus = 0;
            $.post('/bus/getbustype',data,function(res){
                $('#screening').html(res);
            },'html');
            gethtmldata();
        });  
        $("input[name='show']").change(function(){
            var data = {};
                data.bus = $("input[name='show']:checked").val();
            $.post('/bus/getbustype',data,function(res){
                $('#screening').html(res);
            },'html');

        });


        $('.btn-info').on('click', function(){
           gethtmldata();
        })
        function gethtmldata(){
            var data= {};
            data.date = $("input[name='date']").val();
            data.hour = $("input[name='hour']").val();
            data.data =  $('#form').serialize();
            GetProcessData(data);
        }

        function GetProcessData (data) {            
            data.ajax = 1;            
            var myDate = new Date();
            if (!data.date) {
                data.date = myDate.toLocaleDateString();
            }
/*
            if (!data.hour) {
                data.hour = myDate.getHours()-1; 
            }*/
            
            $.post('/bus/processdata',data,function(res){
                PaiTing(data.date+' '+data.hour+' 流程图',-20,'',60,res.x_cat,'UV数',res.y_data,'container','spline');
                var $tb = createTable(res.table_title,res.table_data,'containerTable');
                console.info($tb);
            },'json')
        }

        function loading_func(s){
            s == 1 ? $("#loading").click() : $("#loading_c").click();
        }
    </script>
    </body>
</html>
  