<div class="row-fluid">
                <div class="span12">
                    <div class="widget-box">
                        <div class="widget-content nopadding">
                            <table class="table form-horizontal">
                                <thead>
                                    <tr>
                                        <th width="200">编 码</th><th>编码说明</th><th width="200">操 作</th> 
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="text-align:center;">STATION-WEB-00001</td>
                                        <td style="text-align:left;">此查询为平安保单汇总的数据查询，导出的数据为ssid连接数，广告1uv，获取验证码，保单认证注册，保单认证注册，手机认证注册，平均页面停留时间。请选择时间区间，点击右侧按钮导出数据。</td>
                                        <td style="text-align:center;"><span>&nbsp;&nbsp;<input type="button" onclick="getStationWeb00001()" value="导出EXECL" /></span></td>  
                                    </tr>
                                    <tr>
                                        <td style="text-align:center;">STATION-WEB-00002</td>
                                        <td style="text-align:left;">此查询为成功提交平安保单的用户，导出的数据为用户的姓名，手机号码，注册地点等基本信息。请选择时间区间，点击右侧按钮导出数据。</td>
                                        <td style="text-align:center;"><span>&nbsp;&nbsp;<input type="button" onclick="getStationWeb00002()" value="导出EXECL" /></span></td>  
                                    </tr> 

                                    <tr>
                                        <td style="text-align:center;">STATION-WEB-00003</td>
                                        <td style="text-align:left;">此查询为各站点的综合数据，导出的数据为ssid连接数，广告1uv，跳过次数，保单认证注册，保单认证注册。请选择时间区间，点击右侧按钮导出数据。</td>
                                        <td style="text-align:center;"><span>&nbsp;&nbsp;<input type="button" onclick="getStationWeb00003()" value="导出EXECL" /></span></td>  
                                    </tr>    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                
            </div>