<form action="{{$action}}" method="post" class="">
<div class="control-group">
    <label class="control-label">站点名称 :</label>
    <div class="controls">
        <input type="text" class="span6"  value="{{$last.citename}}"  placeholder="站点名称" name="citename" />
    </div>
</div>
<div class="control-group">
     <label class="control-label">服务器IP :</label>
     <div class="controls">
         <input type="text" class="span6"  value="{{$last.citeip}}"  placeholder="服务器IP" name="citeip" />
     </div>
 </div>
 <div class="control-group">
     <label class="control-label">用户名 :</label>
     <div class="controls">
         <input type="text" class="span6"  value="{{$last.name}}"  placeholder="用户名" name="name" />
     </div>
 </div>
 <div class="control-group">
     <label class="control-label">密码:</label>
     <div class="controls">
         <input type="text" class="span6"  value="{{$last.password}}"  placeholder="密码" name="password" />
     </div>
 </div>
 <div class="control-group">
     <label class="control-label">端口号 :</label>
     <div class="controls">
         <input type="text" class="span6"  value="{{$last.port}}"  placeholder="端口号" name="port" />
     </div>
 </div>
<input type="hidden" value="1" name="ispost" />
<input type="hidden" value="{{$last.id}}" name="id" />
</form>
