<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="{$psys_js}lib/jquery-1.11.1.js"></script>
<link type="text/css" rel="stylesheet" href="{$psys_css}public.css" />
<link type="text/css" rel="stylesheet" href="{$psys_css}table.css" />
</head>
<body>
		<table class="hovertable" width="100%" border="0" cellpadding="0"
			cellspacing="1" bgcolor="#417eb7">
			<caption>
				<h2>日期交易列表</h2>
			</caption>
				
			<tr class="table-head" bgcolor="#2d68a0">
				<th>ID</th>
				<th>订单号</th>
				<th>用户名</th>
				<th>产品名</th>
				<th>产品类型</th>
				<th>数量</th>
				<th>单价</th>
				<th>总计</th>
				<th>订单是否成功</th>
				<th>下单时间</th>
				<th>下单IP</th>
				<th>更单时间</th>
				<th>更单IP</th>
			</tr>
			{if !$list}
			<tr bgcolor="#ffffff"><td colspan='13'><i>当前日无交易记录</i></td></tr>
			{else}
			{foreach $list as $v}
			<tr class="tbody" bgcolor="#FFFFFF">
				<td><input name="id[]" type="checkbox" value="{$v.id}">{$v.id}</td>
				<td>{$v.orderguid}</td>
				<td>{$v.username}</td>
				<td>{$v.productid}</td>
				<td>{$v.producttype}</td>
				<td>{$v.pnum}</td>
				<td>{$v.price}</td>
				<td>{$v.totalprice}</td>
				<td>{if $v.ifsucc eq 1}是{else}否{/if}</td>
				<td>{$v.ctime}</td>
				<td>{$v.cip}</td>
				<td>{$v.utime}</td>
				<td>{$v.uip}</td>
			</tr>
			{/foreach}
			{/if}
		</table>
		<br />
		
		<table>
		 <tr>
	        <form method="POST" action="/fin/dateList">
	        <td style="width:400px;">日期选择:<select name="year" id="year">
	        					<option value="0">请选择年份</option>
	        			</select>&nbsp;年&nbsp;&nbsp;
	        			<select name="month" id="month">
	        					<option value="0">请选择月份</option>
	        			</select>&nbsp;月&nbsp;&nbsp;
	        			<select name="day" id="day">
	        					<option value="0">请选择日期</option>
	        			</select>&nbsp;日
	        </td>
	        {literal}
	        <script type="text/javascript">
	        	$(function(){
		        	var year = 0;
					$.post('/fin/checkbox', {
						'ajax':1
					}, function(res) {
						var str = '';
						for(var i=0;i<res.length;i++)
						{	
							if(res[i]['year'] == {/literal}{$year}{literal})
							{
								year = res[i]['year'];
								var monthText = document.getElementById('month');
								//str += "<option value='"+res[i]['year']+"'>"+res[i]['year']+"</option>";
								$("#year").append("<option value='"+res[i]['year']+"' selected='selected'>"+res[i]['year']+"</option>");


								//测试
	
									monthText.inner = '<option value="0">请选择月份</option>';
									$.post('/fin/checkbox',{
										'ajax':1,
										'year':year
										},function(res){
											var str = '';
											for(var i=0;i<res.length;i++)
											{
												if(res[i]['month'] == {/literal}{$month}{literal})
												{
													month = res[i]['month'];
													str += "<option value='"+res[i]['month']+"' selected='selected'>"+res[i]['month']+"</option>";

													//测试
													//var year = $("#year").val();
													//var month = $("#month").val();
													var dayText = document.getElementById('day');
													if(month == 0)
													{
														dayText.innerHTML = '<option value="0">请选择日期</option>';
													}
													else
													{
														$.post('/fin/checkbox',{
															'ajax':1,
															'year':year,
															'month':month
															},function(res){
																var str = '';
																for(var i=0;i<res.length;i++)
																{
																	if(res[i]['day'] == {/literal}{$day}{literal})
																	{
																		str += "<option value='"+res[i]['day']+"' selected='selected'>"+res[i]['day']+"</option>";
																	}
																	else
																	{
																		str += "<option value='"+res[i]['day']+"'>"+res[i]['day']+"</option>";
																	}
																}
																dayText.innerHTML += str;
															},'json');
													}


													
												}
												else
												{
													str += "<option value='"+res[i]['month']+"'>"+res[i]['month']+"</option>";
												}
											}
											document.getElementById('month').innerHTML += str;
										},'json');
								

								
							}
							else
							{
								$("#year").append("<option value='"+res[i]['year']+"'>"+res[i]['year']+"</option>");
							}
						}
						//document.getElementById('year').innerHTML += str;						
					}, 'json');

					$("#year").change(function(){
						var year = $('#year').val();
						var monthText = document.getElementById('month');
						var dayText = document.getElementById('day');
						if(year == 0)
						{
							monthText.innerHTML = '<option value="0">请选择月份</option>';
							dayText.innerHTML = '<option value="0">请选择日期</option>';
						}
						else
						{
							monthText.innerHTML = '<option value="0">请选择月份</option>';
							$.post('/fin/checkbox',{
								'ajax':1,
								'year':year
								},function(res){
									var str = '';
									for(var i=0;i<res.length;i++)
									{
										if(res[i]['month'] == {/literal}{$month}{literal})
										{
											str += "<option value='"+res[i]['month']+"' selected='selected'>"+res[i]['month']+"</option>";
										}
										else
										{
											str += "<option value='"+res[i]['month']+"'>"+res[i]['month']+"</option>";
										}
									}
									document.getElementById('month').innerHTML += str;
								},'json');
						$("#month").change(function(){
							var year = $("#year").val();
							var month = $("#month").val();
							var dayText = document.getElementById('day');
							if(month == 0)
							{
								dayText.innerHTML = '<option value="0">请选择日期</option>';
							}
							else
							{
								dayText.innerHTML = '<option value="0">请选择日期</option>';
								$.post('/fin/checkbox',{
									'ajax':1,
									'year':year,
									'month':month
									},function(res){
										var str = '';
										for(var i=0;i<res.length;i++)
										{
											if(res[i]['day'] == {/literal}{$day}{literal})
											{
												str += "<option value='"+res[i]['day']+"' selected='selected'>"+res[i]['day']+"</option>";
											}
											else
											{
												str += "<option value='"+res[i]['day']+"'>"+res[i]['day']+"</option>";
											}
										}
										dayText.innerHTML += str;
									},'json');
							}
							});
						}
					});
				//日期下拉列表框结束
				$('#year').trigger("change");
	        	
		        });
	        </script>
	        {/literal}
	        <td>升/降排序：<input type="radio" name="order" value="0" {if $order eq 0}checked="checked"{/if} />降序
	        				<input type="radio" name="order" value="1"{if $order eq 1}checked="checked"{/if} />升序
	        </td>

	        <td>交易状态：<input type="radio" name="ifsucc" value="-1" {if $ifsucc eq -1}checked="checked"{/if}  />全部
	        				<input type="radio" name="ifsucc" value="0" {if $ifsucc eq 0}checked="checked"{/if} />失败
	        				<input type="radio" name="ifsucc" value="1" {if $ifsucc eq 1}checked="checked"{/if} />成功
	        </td>
	        <td><input type="submit" value="查询" id="searchuser"/></td>
	        </form>
	     </tr>
	     </table>
		
		<div class="pages">
		  <ul class="pagination-digg">
		 <li class="previous"><a href="?page=1{$url}">&laquo;First</a></li>   
		{if $cur_page gt 1}
		  <li class="previous"><a href="?page={$cur_page-1}{$url}">&laquo;Previous</a></li>
		{else}
		  <li class="previous-off"> &laquo;Previous</li>
		{/if}
			{if $endNum lt $allpage}	
		         {for $p=$startNum to $endNum}
		                
		                     {if $cur_page eq $p}
		                     <li class="active">{$p}</li>
		                     {else}
		                     <li><a href="?page={$p}{$url}">{$p}</a></li> 
		                     {/if}
		                   
		          {/for} 
		     {else}
		        {for $p=$startNum to $allpage}
		                
		                     {if $cur_page eq $p}
		                     <li class="active">{$p}</li>
		                     {else}
		                     <li><a href="?page={$p}{$url}">{$p}</a></li> 
		                     {/if}
		                   
		          {/for}     
		     {/if}     
		        
		{if $cur_page lt $allpage}
		    <li class="next">
		    <a href="?page={$cur_page+1}{$url}">Next &raquo;</a>
		    </li>
		{else}
		    <li class="next-off">
		    Next &raquo;
		    </li>
		{/if}
		   <li class="next">
		    <a href="?page={$allpage}{$url}">Last &raquo;</a>
		    </li>
		    <li class="next-off">
		   {$cur_page}/{$allpage} Page
		    </li>
		    <li class="del">
		   		<button type="submit" name="submit" class="but">DELETE</button>
		    </li>    
		  </ul>
		</div>
		
		
</body>
</html>