<div class="row-fluid">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-content nopadding">
                <table class="table form-horizontal">
                    <thead>
                        <tr>
                            <th>月 份</th><th>开启抽奖页人数</th><th>注册用户数</th><th>新开启人数</th><th>分享活动</th><th>分享成功</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{foreach $data as $k=>$v}}
                            <tr>
                                <td style="text-align:center;">{{$v.month}}</td>
                                <td style="text-align:center;">{{$v.open_num}}</td>
                                <td style="text-align:center;">{{$v.new_reg}}</td>
                                <td style="text-align:center;">{{$v.new_num}}</td>
                                <td style="text-align:center;">{{$v.share_times}}</td>
                                <td style="text-align:center;">{{$v.share_ok}}</td>
                                
                            </tr>
                        {{/foreach}}
                        <tr>
                            <td style="text-align:center;"><b>总 计</b></td>
                            <td style="text-align:center;"><b style="color:red;">{{$open_num}}</b></td>
                            <td style="text-align:center;"><b style="color:red;">{{$new_reg}}</b></td>
                            <td style="text-align:center;"><b style="color:red;">{{$new_num}}</b></td>
                            <td style="text-align:center;"><b style="color:red;">{{$share_times}}</b></td>
                            <td style="text-align:center;"><b style="color:red;">{{$share_ok}}</b></td>
                            
                        </tr>
                        <tr><td colspan="6"></td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

            
            