<!DOCTYPE html>
<html lang="en">
    <head>
        <title>火伴平台-浏览数据统计</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{$psys_css}}bootstrap.min.css" />
        <link rel="stylesheet" href="{{$psys_css}}bootstrap-responsive.min.css" />
        <link rel="stylesheet" href="{{$psys_css}}uniform.css" />
        <link rel="stylesheet" href="{{$psys_css}}select2.css" />
        <link rel="stylesheet" href="{{$psys_css}}matrix-style.css" />
        <link rel="stylesheet" href="{{$psys_css}}matrix-media.css" />
        <link rel="stylesheet" href="{{$psys_css}}font-awesome/css/font-awesome.css" />
		<link type="text/css" rel="stylesheet" href="{{$psys_css}}table.css" />
<style type="text/css">
#title{
	margin:auto;
	display:block;
	width:200px;
	line-height:60px;
}	
#wrap{
	margin:0 auto;
	width:1600px;
	position:relative;
}
#data_form form table{
	margin-top:20px;
	border-collapse:separate; 
	border-spacing:10px;
}
#data_form form table tr td{
	height:30px;
}
#data_form form table tr td label{
	border:1px solid #DEDEDE;
	background-color:#EAEAEA;
	margin-left:10px;
	width:80px;
	height:28px;
	line-height:28px;
	float:left;
}

textarea{
	width: 400px;
	height: 100px;
	max-width: 400px;
	max-height: 100px;
}
#img_form{
	position: absolute;
	width:80px;
	height:28px;
	top:260px;
	left:285px;
}
#img_form .file{
	margin-top:10px;
	height: 28px;
	filter: alpha(opacity : 40);
	opacity: 0;
	width: 74px;
}
iframe{
	width:0px;
	height:0px;
	display:none;
}
#st_tips{
	display:none;
}
#st_not{
	display:none;
}
#img_view{
	position:absolute;
	width:99.9%;
	height:99.9%;
	padding:100px auto;
	left:0;
	top:0;
	background-color:#D4D4D4;
	filter: alpha(opacity : 70);
	opacity: 0.7;
	display:none;
	border:1px solid black;
}
#img_view #img_wrap{
	margin:100px auto;
}
#img_view #res_img{
	text-align:center;
	margin: 0 auto;
	width: 0;
	margin-left: 30%;
}
#img_view #res_img img
{
	display:block;
	margin:10px auto;
	
}
#action{
	text-align:center;
	margin:40px auto;
}
#action label
{
	border:1px solid blue;
	padding:8px;
	margin-left:30px;
}
#form1{
	margin-left:82px;
}
#form2,#form3,#form4{
	margin-top:57px;
	margin-left:82px;
}
#img_box{
background:#323232; width:400px; height:680px; position:absolute; top:80px;display:none;border-radius:5px; cursor:pointer;
}
#img_box_2 ul{
padding:0;
width:350px;
margin:auto;
margin-top:20px;
}
#img_box_2 ul li{
list-style:none;
padding:0;
margin:0;
height:155px;
}
#img_box_2 ul li img{
height:155px;
padding:0;
margin:0;
}
</style>
    </head>
    <body>
    
    <div id="content2">
    	<div id="content-header">
            <div id="breadcrumb">
                <a class="tip-bottom" href="/index/index" data-original-title="到首页"><i class="icon-home"></i> 首页</a>
                <a class="tip-bottom" href="javascript:;"><i class="icon-list-alt"></i> 广告管理</a>
                <a class="current" href="javascript:;" data-original-title=""><i class="icon-bar-chart"></i> 全屏广告</a>
            </div>
        </div>
        <!-- add -->
        <h4 id="title">新增/修改全屏广告位</h4>
	<div id="wrap">
		<div id="data_form">
			<form action="/ads/update" method="POST">
			<table>
				<tr><td width="250px" align="right">广告名称：</td><td align="left"><input type="text" name="adname" value="{{$info.adname}}" /></td></tr>
				<tr><td width="250px" align="right">名称缩写：</td><td align="left"><input type="text" name="adsname" value="{{$info.adsname}}" /><span style="color:red;">如红牛填写hn</span></td></tr>
				<tr><td width="250px" align="right">显示位置：</td>
					<td align="left">
						<input type="checkbox" name='colid' value=5 {{if $info.adsone eq 1}} checked {{/if}} id="Adver1"/>全屏广告1
						<input type="checkbox" name='colid' value=6 {{if $info.adstwo eq 1}} checked {{/if}} id="Adver2"/>全屏广告2
					</td>
				</tr>
				<tr><td width="250px" align="right">是否有子页面：</td>
					<td align="left">
						<input type="radio" class="subpage_select" name='subpage' value=0 {{if $info.subpage eq 0}} checked {{/if}} />无子页面
						<input type="radio" class="subpage_select" name='subpage' value=1 {{if $info.subpage eq 1}} checked {{/if}} />站内子页面
						<input type="radio" class="subpage_select" name='subpage' value=2 {{if $info.subpage eq 2}} checked {{/if}} />站外子页面
					</td>
				</tr>
				<tr><td width="250px" align="right">子页面URL：</td>
					<td align="left" id='zi_url'>
						<input type="text" name='actionurl' value="{{$info.actionurl}}"/>
					</td>
				</tr>
				<tr><td width="250px" align="right">状　　态：</td>
					<td align="left">&nbsp;&nbsp;<input id="state" class="check-box" name="flag" type="radio" value="1" {{if $info.flag eq 1}} checked {{/if}} >正常
					&nbsp;&nbsp;&nbsp;&nbsp;<input id="state" class="check-box" name="flag" type="radio" value="0" {{if $info.flag eq 0}} checked {{/if}} >停用</td>
				</tr>
				<tr>			<td width="250px" align="right">图片1路径：</td>
					<td align="left">
						<input type="text" name="imgurl_1" value="{{$info.imgurl_1}}" readonly style="float:left"/>
						<label style="display:none" id="img_tips_1"></label>
						<label id="st_tips_1"></label>
						<label id="st_not_1"></label>
					</td>
				</tr>
				<tr>
					<td width="250px" align="right"></td>
					<td id="tips">
						<label id="im_1">选择文件</label>
						
					</td>
				</tr>
				
				<tr>
					<td width="250px" align="right">图片2路径：</td>
					<td align="left">
						<input type="text" name="imgurl_2" value="{{$info.imgurl_2}}" readonly style="float:left"/>
						<label style="display:none" id="img_tips_2"></label>
						<label id="st_tips_2"></label>
						<label id="st_not_2"></label>
					</td>
				</tr>
				<tr>
					<td width="250px" align="right"></td>
					<td id="tips">
						<label id="im_2">选择文件</label>
					</td>
				</tr>
				
				<tr>
					<td width="250px" align="right">图片3路径：</td>
					<td align="left">
						<input type="text" name="imgurl_3" value="{{$info.imgurl_3}}" readonly style="float:left"/>
						<label style="display:none" id="img_tips_3"></label>
						<label id="st_tips_3"></label>
						<label id="st_not_3"></label>
					</td>
				</tr>
				<tr>
					<td width="250px" align="right"></td>
					<td id="tips">
						<label id="im_3">选择文件</label>
					</td>
				</tr>
				
				<tr>
					<td width="250px" align="right">图片4路径：</td>
					<td align="left">
						<input type="text" name="imgurl_4" value="{{$info.imgurl_4}}" readonly style="float:left"/>
						<label style="display:none" id="img_tips_4"></label>
						<label id="st_tips_4"></label>
						<label id="st_not_4"></label>
					</td>
				</tr>
				<tr>
					<td width="250px" align="right"></td>
					<td id="tips">
						<label id="im_4">选择文件</label>　
					</td>
				</tr>
				
				<tr>
					<td width="250px" align="right">
						<input type="button" value="浏览上传图片" id="seeImgs">
					</td>
					<td colspan="2" align="left" style="margin-top:20px">
						<button id="btn_data_submit" style="width:100px;margin-left:40px;">提交</button>
					</td>
				</tr>
				
				<input type="hidden" name='id' value="{{$info.id}}"/>
			</table>
			<div style="color:red;font-size:12px; margin-left:200px;">*所有上传图片规格必须640*284规格以下，大小不超过1M</div>
			</form>
		</div>
		<div id="img_form">
			<form id="form1" action="/ads/uploadfullads" method="post" enctype= "multipart/form-data" target="img_iframe">
				<input type="file" name="file[]" multiple='true' class="file" style="display:block"/>
				<input type="hidden" name='num' value='1'/>
			</form>
			
			<form id="form2" action="/ads/uploadfullads" method="post" enctype= "multipart/form-data" target="img_iframe">
				<input type="file" name="file[]" multiple='true' class="file" />
				<input type="hidden" name='num' value='2'/>
			</form>
			
			<form id="form3" action="/ads/uploadfullads" method="post" enctype= "multipart/form-data" target="img_iframe">
				<input type="file" name="file[]" multiple='true' class="file" />
				<input type="hidden" name='num' value='3'/>
			</form>
			
			<form id="form4" action="/ads/uploadfullads" method="post" enctype= "multipart/form-data" target="img_iframe">
				<input type="file" name="file[]" multiple='true' class="file" />
				<input type="hidden" name='num' value='4'/>
			</form>
			
			<iframe name="img_iframe"></iframe>
		</div>
	</div>
	
	<div id="img_box">
		<div id="img_box_2">
			<ul>
				<li><img src="http://bill.wonaonao.com/imgs/ppts/" class="img_1" width="350"></li>
				<li><img src="http://bill.wonaonao.com/imgs/ppts/" class="img_1" width="350"></li>
				<li><img src="http://bill.wonaonao.com/imgs/ppts/" class="img_1" width="350"></li>
				<li><img src="http://bill.wonaonao.com/imgs/ppts/" class="img_1" width="350"></li>
			</ul>
		</div>
	</div>
    <!-- add end -->
        
    </div>
    
<!--Footer-part-->
{{include file="footer.html"}}
<!--end-Footer-part--> 
    <script src="{{$psys_js}}jquery.min.js"></script> 
    <script type="text/javascript">
$(document).ready(function(){	
	$('.submenu > a').click(function(e)
			{
				e.preventDefault();
				var submenu = $(this).siblings('ul');
				var li = $(this).parents('li');
				var submenus = $('#sidebar li.submenu ul');
				var submenus_parents = $('#sidebar li.submenu');
				if(li.hasClass('open'))
				{
					if(($(window).width() > 768) || ($(window).width() < 479)) {
						submenu.slideUp();
					} else {
						submenu.fadeOut(250);
					}
					li.removeClass('open');
				} else 
				{
					if(($(window).width() > 768) || ($(window).width() < 479)) {
						submenus.slideUp();			
						submenu.slideDown();
					} else {
						submenus.fadeOut(250);			
						submenu.fadeIn(250);
					}
					submenus_parents.removeClass('open');		
					li.addClass('open');	
				}
			});
	//浏览窗口偏移到正中
	var leftWidth = ($(document).width()-400)/2
	$("#img_box").css("left",leftWidth+"px");
	//图片浏览路径
	var topurl = $("#img_box_2").find('img').eq(0).attr("src");
	if($("input[type='radio'][name='subpage']:checked").val()=='0'){
		$("input[type='text'][name='actionurl']").val("#");
		$("#zi_url").css("display","none");
	}

	
    $("select[name='colid']").change(function(){
        var id = parseInt($(this).val());
		if(id == 6)
		{
			$("#img_form").css("top",'222px');
			$("#form1 .file").attr('multiple',true);
			$("#systerms").hide();
			$("#tjappid").hide();
		}
		else
		{
			$("#img_form").css("top",'263px');
			$("#systerms").show();
			$("#tjappid").show();
		}
    });
	$(".subpage_select").click(function(){
		if($(this).val()==0){
			$("input[type='text'][name='actionurl']").val("#");
			$("#zi_url").css("display","none");
		}else{
			$("input[type='text'][name='actionurl']").val("");
			$("#zi_url").css("display","block");
		}
	})
    
	$(".file").click(function(){
		var adname = $("input[type='text'][name='adname']").val();
		var colid = $("input[type='checkbox'][name='colid']:checked").length;
		var subpage = $("input[type='radio'][name='subpage']:checked").val();
		var actionurl = $("input[type='text'][name='actionurl']").val();
		var flag = $("input[type='radio'][name='flag']:checked").val();
		if(!adname){
			alert('请填写广告名称！');
			return false;
		}
		if(!colid){
			alert('请选择广告位置！');
			return false;
		}
		if((subpage>0) && !actionurl){
			alert('请输入子页面URL！');
			return false;
		}
		
	});
	 
	$(".file").change(function(){
		 var filename = '';
		 var files = this.files;
		 if(files.length != 1){
			alert('请选择图片！');
			return false;
		 }
		 $.each(files, function(i, file){     
			filename = filename ? filename+','+file.name : file.name;
		 }); 		 
		 var num = $(this).parents().attr("id").substring(4,5);
		 $("#st_tips_"+num).css("display","none");
		 $("#st_not_"+num).css("display","none");
		 $("#img_tips_"+num).css("display","inline");
		 $("#img_tips_"+num).text('已选择图片：'+filename);
		 $("#form"+num).submit();
	});
	$(".upload").click(function(){
		var num = $(this).attr("num");
		var filename = $("#img_tips_"+num).text();
		if(filename == '')
		{
			alert("请选择上传图片");
		}
		else
		{
			$("#form"+num).submit();
		}
	});

  	$("#btn_data_submit").click(function(){
		var adname = $("input[name='adname']").val();
		var adsname = $("input[name='adsname']").val();
		var colid = '';
		$("input[type='checkbox'][name='colid']:checked").each(function(){
			colid += colid ? ','+$(this).val() : $(this).val(); 
		});
		var subpage = $("input[type='radio'][name='subpage']:checked").val();
		var actionurl = $("input[type='text'][name='actionurl']").val();
		var flag = $("input[type='radio'][name='flag']:checked").val();
		var imgurl_1 = $("input[type='text'][name='imgurl_1']").val();
		var imgurl_2 = $("input[type='text'][name='imgurl_2']").val();
		var imgurl_3 = $("input[type='text'][name='imgurl_3']").val();
		var imgurl_4 = $("input[type='text'][name='imgurl_4']").val();
		var id = $("input[type='hidden'][name='id']").val();
		if(!adname)
		{
			alert('请输入广告名！');
			return false;
		}
		if(!adsname)
		{
			alert('请输入广告缩写名！');
			return false;
		}
		if(!colid)
		{
			alert('请选择广告显示位置！');
			return false;
		}
		if(!imgurl_1 || !imgurl_2 || !imgurl_3 || !imgurl_4)
		{
			alert('请进行图片上传！');
			return false;
		}
		if((subpage>0) && !actionurl)
		{
			alert('请输入子页面URL！');
			return false;
		}
		if((subpage>0) && !actionurl){
			alert('请填写子页面链接！');
			return false;
		} 
		var imgurl = imgurl_1+","+imgurl_2+","+imgurl_3+","+imgurl_4;
		$.ajax({
            type: "POST",
            url: "/ads/updatefullads",
            data: {'ajax':1,'ispost':1,'id':id,'adname':adname,'adsname':adsname,'subpage':subpage,'colid':colid,'imgurl':imgurl,'actionurl':actionurl,'flag':flag},
            dataType: "json",
            success: function(data){
				if(data.result == 'SUCCESS')
				{	
					alert('广告添加/更新成功！');
					window.location.href = '/ads/fulladsindex';
				}else{
					if(data.result == 'ADNAME'){
						alert('广告名已存在,广告添加/更新失败！');
					}else{
						alert('广告添加/更新失败！');
					}
				}
            }             
        });
		return false;
  	});

  	$("#seeImgs").click(function(){
  		var url_1 = $("input[name='imgurl_1']").val();
  		var url_2 = $("input[name='imgurl_2']").val();
  		var url_3 = $("input[name='imgurl_3']").val();
  		var url_4 = $("input[name='imgurl_4']").val();
  		if(url_1 == '' ||url_2 == '' ||url_3 == '' ||url_4 == '' ){
			alert("图片未上传完");
  	  	}else{
  	  		$("#img_box_2").find('img').eq(0).attr("src",topurl+url_1)
  	  		$("#img_box_2").find('img').eq(1).attr("src",topurl+url_2)
  	  		$("#img_box_2").find('img').eq(2).attr("src",topurl+url_3)
  	  		$("#img_box_2").find('img').eq(3).attr("src",topurl+url_4)
			$("#img_box").css("display","block");
  	  	}
  	});
  	$("#img_box").click(function(){
  		$("#img_box").css("display","none");
  	})
	$("#Adver1").click(function(){
		if($(this).attr("checked")){
			$("#city_tr_1").css("display",'block');
		}else{
			$("#city_tr_1").css("display",'none');
		}
	})
	$("#Adver2").click(function(){
		if($(this).attr("checked")){
			$("#city_tr_2").css("display",'block');
		}else{
			$("#city_tr_2").css("display",'none');
		}
	})
  	
});
function callbackFunction(str)
{
	var jsonobj=eval('('+str+')');
	var colid = $("select[name='colid'] option:selected").val();
	var num = jsonobj.num;
	if(jsonobj.result == 'success')
	{
		$("input[name='imgurl_"+num+"']").val(jsonobj.img_name);
		$("#st_tips_"+num).css('color','green').css("display",'inline').text(jsonobj.msg);
	}
	else if(jsonobj.result == 'error')
	{
		$("#st_tips_"+num).css('color','red').css('display','inline').text(jsonobj.msg);
	}
}
</script>
    </body>
</html>