<!DOCTYPE html>
<html lang="en">
    
<head>
        <title>TriangulumCMS v1.0 beta</title>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{{$psys_css}}bootstrap.min.css" />
		<link rel="stylesheet" href="{{$psys_css}}bootstrap-responsive.min.css" />
        <link rel="stylesheet" href="{{$psys_css}}matrix-login.css" />
		
        <script src="{{$psys_js}}jquery.min.js"></script>  
        <script src="{{$psys_js}}matrix.login.js"></script> 
    </head>
    <body>
        <div id="loginbox">            
            <form id="loginform" class="form-vertical" action="" method="post">
				 <div class="control-group normal_text"> <h3><img src="{{$psys_img}}logo.png" alt="Logo" /></h3></div>
                <div class="control-group">
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_lg"><i class="icon-user"></i></span><input type="text" placeholder="Username" name="username" />
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_ly"><i class="icon-lock"></i></span><input type="password" placeholder="Password" name="password" />
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <span class="pull-left"><a href="javascript:;" class="flip-link btn btn-info" id="to-recover">Forget Password?</a></span>
                    <span class="pull-right"><input type="submit" class="btn btn-success" value="Login" /></span>
                </div>
            </form>
            <form id="recoverform" action="javascript:;" class="form-vertical">
				<p class="normal_text">Please enter your email.</p>
				
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_lo"><i class="icon-envelope"></i></span><input type="text" placeholder="E-mail address" />
                        </div>
                    </div>
               
                <div class="form-actions">
                    <span class="pull-left"><a href="javascript:;" class="flip-link btn btn-info" id="to-login">&laquo; Return</a></span>
                    <span class="pull-right"><input type="submit" class="btn btn-success" value="Send to your new password" /></span>
                </div>
            </form>
        </div>
        
        
    </body>

</html>
