<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TriangulumCMS v1.0 beta</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{$psys_css}}bootstrap.min.css" />
        <link rel="stylesheet" href="{{$psys_css}}bootstrap-responsive.min.css" />
        <link rel="stylesheet" href="{{$psys_css}}uniform.css" />
        <link rel="stylesheet" href="{{$psys_css}}select2.css" />
        <link rel="stylesheet" href="{{$psys_css}}matrix-style.css" />
        <link rel="stylesheet" href="{{$psys_css}}matrix-media.css" />
        <link rel="stylesheet" href="{{$psys_css}}font-awesome/css/font-awesome.css" />
    </head>
    <body>
