@charset "utf-8";
/* CSS Document */
table {
	width:90%;
	margin:0 auto;
	line-height:2.5;
	min-width:1200px;
}
table caption {
	padding:25px;
}
table h3 {
	font-size:16px;
	color:#333;
}
table th {
	color:#bfeaf5;
	font-size:12px;
}
table tr {
	color:#333;
	text-align:center;
}
table a:hover {
	color:#f00;
}
.table-head{
	line-height:25px;
}
.table-head:hover{
	background:#2d68a0;
	color:#333;
	text-align:center;
}
.tbody:hover {
	background:#d4eaff;
	color:#333;
	text-align:center;
}
table input[type="text"] {
	border:1px solid #a9a9a9;
	width:210px;
}
table input[type="password"] {
	border:1px solid #a9a9a9;
	width:210px;
}
table input[type="button"] {
	padding-top:3px;
	padding-bottom:2px;
}

.check-box {
	margin-top:-1px;
}
.check-box, label {
	vertical-align:middle;
}
button {
	padding:3px;
	margin-top:-1px;
	border:1px solid #900;
}
.add-table {
	line-height:2.6;
	min-width:30%;
}
.jCalendar{ min-width:0px;}
.pages {
	margin-top:50px;
	width:100%;
	text-align:center;
}
.table-head{
	font-size:20px;
}
/* 列表样式  jing  2014.7.11*/
/*page css 分页 by jing */
.pages {
	clear:both;
	height:20px;
	line-height:20px;
	margin-top:15px;
}
.pagination-digg {
	margin:0px auto;
	width:860px;
	display:block;
	height:30px;
}
.pages .pagination-digg li {
	border:0;
	margin:0;
	padding:0;
	font-size:11px;
	list-style:none; /* savers */
	float:left;
}
.pages .pagination-digg a {
	border:solid 1px #9aafe5;
	margin-right:2px;
}
.pages .pagination-digg .previous-off, .pages .pagination-digg .next-off {
	border:solid 1px #DEDEDE;
	color:#888888;
	display:block;
	float:left;
	font-weight:bold;
	margin-right:2px;
	padding:3px 4px;
}
.pages .pagination-digg .next a, .pages .pagination-digg .previous a {
	font-weight:bold;
}
.pages .pagination-digg .active {
	background:#2e6ab1;
	color:#FFFFFF;
	font-weight:bold;
	display:block;
	float:left;
	padding:4px 6px; /* savers */
	margin-right:2px;
}
.pages .pagination-digg a:link, .pages .pagination-digg a:visited {
	color:#0e509e;
	display:block;
	float:left;
	padding:3px 6px;
	text-decoration:none;
}
.pages .pagination-digg a:hover {
	border:solid 1px #0e509e;
}
.pages .pagination-digg .del {
	display:block;
	float:left;
	font-weight:bold;
	margin-right:2px;
	padding:3px 4px;
}
.pages {
	border:none;
	color:#900;
	font-size:12px;
	cursor:pointer;
}
.but {
	color:#900;
	font-size:12px;
	cursor:pointer;
}

