<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>设备管理-RTAC</title>
<link type="text/css" rel="stylesheet" href="{$psys_css}public.css"/>
<link type="text/css" rel="stylesheet" href="{$psys_css}table.css" />
<script type="text/javascript" src="{$psys_js}lib/jquery-1.11.1.js"></script>
</head>

<body>
<table width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="#a8cbec">
  <caption>
  <h3>订单管理</h3>
  </caption>
  <tr  bgcolor="#417eb7">
    <th>日期</th>
    <th>产品ID</th>
    <th>产品类型</th>
    <th>名称</th>
    <th>渠道信息</th>
    <th>订单状态</th>
    <th>单价</th>
    <th>数量</th>
    <th>总额</th>
  </tr>
  {foreach $olist as $v}
  <tr bgcolor="#FFFFFF">    
    <td>{$v.ctime|date_format:'%Y-%m-%d %H:%M:%S'}</td>
    <td>{$v.productid}</td>
    <td>{$v.type}</td>
    <td>{$v.name}</td>
    <td>非斯凯渠道</td>
    <td>{if $v.ifsucc eq 1}成功{else}失败{/if}</td>
    <td>{$v.price}</td>
    <td>{$v.pnum}</td>    
    <td>{$v.totalprice}</td>    
  </tr>
  {/foreach}
</table>
<div class="pages">
  <ul class="pagination-digg">
    
   
 <li class="previous"><a href="?page=1">&laquo;First</a></li>   
{if $cur_page gt 1}
  <li class="previous"><a href="?page={$cur_page-1}">&laquo;Previous</a></li>
{else}
  <li class="previous-off"> &laquo;Previous</li>
{/if}
	{if $endNum lt $allpage}	
         {for $p=$startNum to $endNum}
                
                     {if $cur_page eq $p}
                     <li class="active">{$p}</li>
                     {else}
                     <li><a href="?page={$p}">{$p}</a></li> 
                     {/if}
                   
          {/for} 
     {else}
        {for $p=$startNum to $allpage}
                
                     {if $cur_page eq $p}
                     <li class="active">{$p}</li>
                     {else}
                     <li><a href="?page={$p}">{$p}</a></li> 
                     {/if}
                   
          {/for}     
     {/if}     
        
{if $cur_page lt $allpage}
    <li class="next">
    <a href="?page={$cur_page+1}">Next &raquo;</a>
    </li>
{else}
    <li class="next-off">
    Next &raquo;
    </li>
{/if}
   <li class="next">
    <a href="?page={$allpage}">Last &raquo;</a>
    </li>
    <li class="next-off">
   {$cur_page}/{$allpage} Page
    </li>
  </ul>
</div>
</body>
</html>