<!DOCTYPE html>
<html><head>
<meta charset="UTF-8">
<title>app统计[web]</title>
<link type="text/css" rel="stylesheet" href="{$psys_css}public.css" />
<link type="text/css" rel="stylesheet" href="{$psys_css}table.css" />
<script type="text/javascript" src="{$psys_js}lib/jquery-1.11.1.js"></script>
<script type="text/javascript" src="{$psys_js}mytc.js"></script>
{literal}
<style type="text/css">
body{margin:0;padding:0;font-size:12px;}
dt{padding:10px;}
i{ font-style:normal;}

/* detail */
#detail{position:absolute;width:800px;height:400px;border:1px solid #ccc;background:#efefef;display:none; }
#detail .tit{background:#ddd;display:block;height:33px;cursor:move;}
#detail .tit i{float:right;line-height:33px;padding:0 8px;cursor:pointer;}
#ipcno{width: 150px;height: 20px;margin-left: 0;}
#pointer{
  cursor:pointer;
}

</style>
{/literal}
{literal}
<script>

function show(date)
{
  var $title = '<caption>'
          + '<h3>详情</h3>'
        +'</caption>'
        +'<tr  bgcolor="#417eb7">'
          +   '<th>应用/游戏名称</th>'
          +   '<th>弹窗次数</th>'
          +   '<th>下载次数</th>'
        +'</tr>'; 
  $("#detailcon").html($title);
  
  $.ajax({
        type: "POST",
        data: { date: date, ajax:1,stationid:{/literal}{$stationid}{literal}, select:{/literal}{$select}{literal}},
        url: '/station/webAppDetail',
        success: function (data) {  

            if (data.code == 1 ) {
              
              $.each(data.allrow.app, function (index, item) {
                 $('#detailcon').append(
                  '<tr bgcolor="#FFFFFF"> '   
            +   ' <td>'+item.detail+'</td>'
            +   ' <td>'+item.alert+'</td>'
            +   ' <td>'+item.down+'</td>'
            +  '</tr>'   
                 );
                
                
              });
              
                return;
            } else  {
                alert('未知错误！');
            }
        }
    });
              
  popWin("detail");
}

function show_banner(date)
{
  var $title = '<caption>'
          + '<h3>详情</h3>'
        +'</caption>'
        +'<tr  bgcolor="#417eb7">'
          +   '<th>ID</th>'
          +   '<th>点击次数</th>'
        +'</tr>'; 
  $("#detailcon").html($title);
  
  $.ajax({
        type: "POST",
        data: { date: date, ajax:1,stationid:{/literal}{$stationid}{literal}, select:{/literal}{$select}{literal}},
        url: '/station/webAppDetail',
        success: function (data) {  

            if (data.code == 1 ) {
              
              $.each(data.allrow.banner, function (index, item) {
                 $('#detailcon').append(
                  '<tr bgcolor="#FFFFFF"> '   
            +   ' <td>'+item.detail+'</td>'
            +   ' <td>'+item.num+'</td>'
            +  '</tr>'   
                 );
                
                
              });
              
                return;
            } else  {
                alert('未知错误！');
            }
        }
    });
              
  popWin("detail");
}

$(function()
{
  $('.close').click(function(){
    $('#maskLayer').hide();
  });
  
});
</script>
{/literal}
</head>
<body>
<table width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="#a8cbec">
  <caption>
    <h3>WEB-应用/游戏统计</h3>
  </caption>
  
  <tr>
    <form method="post" action="/station/webApp" enctype="multipart/form-data">
     	<td>模块选择：</td>
	    <td colspan="1">
	      <select name="select">
	        <option value = 1 {if $select eq 1}selected{/if}>游戏</option>
	        <option value = 2 {if $select eq 2}selected{/if}>应用</option>
	      </select>
	    </td>
      {include file="station/station.html"}
    </form>
  </tr>
  
  <tr  bgcolor="#417eb7">
    <th style="width:250px">日期</th>
    <th>banner点击总数</th>
    <th>详情</th>
    <th>弹窗总数</th>
    <th>下载总数</th>
    <th>详情</th>
  </tr>
  
  {foreach $data as $v}
  <tr bgcolor="#FFFFFF">    
    <td>{$v.date}</td>
    <td>{$v.click_banner}</td>
    <td><a href="javascript:;" onclick="show_banner('{$v.date}')">查看</a></td>
    <td>{$v.alert}</td>
    <td>{$v.down}</td>
    <td><a href="javascript:;" onclick="show('{$v.date}')">查看</a></td>
  </tr>
  {/foreach}
</table>

<div class="pages">
  <ul class="pagination-digg">
  
 <li class="previous"><a href="?page=1&stationid={$stationid}">&laquo;First</a></li>   
{if $cur_page gt 1}
  <li class="previous"><a href="?page={$cur_page-1}&stationid={$stationid}">&laquo;Previous</a></li>
{else}
  <li class="previous-off"> &laquo;Previous</li>
{/if}
  {if $endNum lt $allpage}  
         {for $p=$startNum to $endNum}
            {if $cur_page eq $p}
            <li class="active">{$p}</li>
            {else}
            <li><a href="?page={$p}&stationid={$stationid}">{$p}</a></li> 
            {/if}           
          {/for} 
     {else}
        {for $p=$startNum to $allpage}
            {if $cur_page eq $p}
            <li class="active">{$p}</li>
            {else}
            <li><a href="?page={$p}&stationid={$stationid}">{$p}</a></li> 
            {/if}              
        {/for}     
     {/if}     
        
{if $cur_page lt $allpage}
    <li class="next">
    <a href="?page={$cur_page+1}&stationid={$stationid}">Next &raquo;</a>
    </li>
{else}
    <li class="next-off">
    Next &raquo;
    </li>
{/if}
   <li class="next">
    <a href="?page={$allpage}&stationid={$stationid}">Last &raquo;</a>
    </li>
    <li class="next-off">
   {$cur_page}/{$allpage} Page
    </li>
      
  </ul>
</div>

<div id="detail">
  <div class="tit"><i class="close">关闭</i></div>
  <div class="showdetail" style="height:365px; overflow-y:auto;">
    <table style="min-width: 600px;" border="0" cellpadding="0" cellspacing="1" bgcolor="#a8cbec" id='detailcon'>
    
     
    </table>
  </div>
</div>
</body>
</html>